doctype html
html
    head
        title astra
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
        meta(name="description" content="")
        link(rel="stylesheet" href="/css/style.css")
        link(rel="shortcut icon", href="/img/favicon.png", type="image/png")
    body
      .container#home
        include _partials/menu
        .home
          .overlay
            .izquierda.owl-carousel.owl-theme
              .iz-img#iz-img1
                img(src="/img/i-01.jpg" alt="Astra")
              .iz-img#iz-img2
                img(src="/img/i-02.jpg" alt="Astra")
              .iz-img#iz-img3
                img(src="/img/i-03.jpg" alt="Astra")
            .derecha
              .de-img#de-img1(style="background-image: url('/img/d-01.jpg');")
              .de-img#de-img2(style="background-image: url('/img/d-02.jpg');")
              .de-img#de-img3(style="background-image: url('/img/d-03.jpg');")
          .word
            img(src="./img/word.svg", alt="Word astra")

        include _partials/footer