doctype html
html
    head
        title astra
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
        meta(name="description" content="")
        link(rel="stylesheet" href="/css/style.css")
        link(rel="stylesheet", href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
        link(rel="shortcut icon", href="/img/favicon.png", type="image/png")
    body
      .container#home.animsition
        include _partials/menu
        .home
          .overlay
            #element1.izquierda.owl-carousel.owl-theme
              .iz-img#iz-img1
                img(src="/img/i-01.jpg" alt="Astra")
              .iz-img#iz-img2
                img(src="/img/i-02.jpg" alt="Astra")
              .iz-img#iz-img3
                img(src="/img/i-03.jpg" alt="Astra")
            #element2.derecha
              .de-img#de-img1
                img(src="/img/d-01.jpg", alt="")
              .de-img#de-img2
                img(src="/img/d-02.jpg", alt="")
              .de-img#de-img3
                img(src="/img/d-03.jpg", alt="")
          .word
            img(src="./img/word.svg", alt="Word astra")
        .description
          .contenedor.full-lead
            .element
              h1 Somos una empresa inmobiliaria con una visión integral, enfocada en desarrollos sustentables de alto valor social y económico. 
            span
              a(href="nosotros.html").cta Nosotros
        .projects
          .contenedor.half
            .element.text
              h2 Creamos comunidades logrando un balanceentre la sociedad y el medio ambiente.
              span
                a(href="#").cta Ver Más
            .element.bg
              ul
                li#first
                  a(href="proyecto.html").link nativa
                li#second
                  a(href="proyecto.html").link La escondida
                li#third
                  a(href="proyecto.html").link Proyecto x
              .img
                svg
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192.27 48.87">
                    <title>Recurso 3</title>
                    <g id="Capa_2" data-name="Capa 2">
                      <g id="Layer_1" data-name="Layer 1">
                        <path d="M122,45.71c-3-.74-3-4-3-7.06V14.05h9.73v-1.3h-9.73V0h-1.71c-.74,5.58-4.11,10.75-8.66,12.75v1.3h5v24.6c0,5.33,0,10.22,6.58,10.22,3.81,0,6.5-1.75,9.74-5.36l-.85-1C127.13,44.38,125,46.46,122,45.71Z"/>
                        <path d="M94.83,26.88C89.44,25.19,84.56,23.49,84.56,19c0-3.46,3.8-5.62,6.89-5.62,6.43,0,10.61,6.28,13.56,10.06l1.15-.62-3.59-10.09c-3.66,3-5.7-.66-10.7-.66-5.76,0-11.09,3.81-11.09,10,0,6.87,6.41,8.86,12.6,10.79,5.39,1.68,10.47,3.26,10.47,8a6.81,6.81,0,0,1-7,6.66c-5.91,0-12.81-6.4-15.66-10.82L80,37.32l4.43,10.9a5.78,5.78,0,0,1,4.21-1.38c1.9.19,4.47,2,8.17,2,5.45,0,11-4.37,11-10.64C107.84,31.17,101,28.8,94.83,26.88Z"/>
                        <path d="M74.76,44.44c-2.5-.25-2.44-3.24-2.44-5.6V22.58c0-3.07,0-6-2.47-8s-6.29-2.47-9.06-2.47c-4,0-12.93,2-12.93,8a2.64,2.64,0,0,0,2.92,2.7c2.36,0,3.14-1.16,3.76-3.3.66-2.59,2.07-6.06,6.62-6.06,5.76,0,5.76,6.36,5.76,8.44V27.2S46.45,28.83,46.45,40.6c0,4.95,3.29,8.27,8.19,8.27,7,0,12.28-5.43,12.28-5.43s.35,4.78,4.63,4.78c3.21,0,5.46-2.56,7.07-4.87l-1.06-.78S76.35,44.6,74.76,44.44Zm-7.84-2.79s-4.17,4.41-8.58,4.41a5.93,5.93,0,0,1-6-6.27c0-8.87,14.55-11.29,14.55-11.29Z"/>
                        <path d="M188.76,44.44c-2.79,0-2.79-3.64-2.79-5.6V22.58c0-3.07,0-6-2.47-8s-6.29-2.47-9.06-2.47c-4.05,0-12.93,2-12.93,8a2.64,2.64,0,0,0,2.92,2.7c2.36,0,3.14-1.16,3.76-3.3.66-2.59,2.07-6.06,6.62-6.06,5.76,0,5.76,6.36,5.76,8.44V27.2S160.1,28.83,160.1,40.6c0,4.95,3.29,8.27,8.19,8.27,7,0,12.31-5.43,12.31-5.43s.32,4.78,4.6,4.78c3.21,0,5.46-2.56,7.07-4.87l-1.06-.78S189.93,44.44,188.76,44.44Zm-8.19-2.79s-4.17,4.41-8.58,4.41a5.93,5.93,0,0,1-6-6.27c0-8.87,14.55-11.29,14.55-11.29Z"/>
                        <path d="M155.19,12.09c-7.3,0-11.89,7.77-12.73,10v-10l-11.1,4.25v1.3c4.49.15,5.7,1.68,5.7,6.39V38.62c0,6.74-.81,7.64-5.7,8.29v1.31h16.88V46.91c-5-.65-5.78-1.55-5.78-8.29l0-10.78c0-4.73,2.72-10.34,7.91-10.34,2.72,0,3.2,1.17,5.6,1.17C160.79,18.67,160.09,12.09,155.19,12.09Z"/>
                        <path d="M9.79,22.82a4.06,4.06,0,0,1,1.44,3.28,4.43,4.43,0,0,1-.74,2.55,4.27,4.27,0,0,1-2.15,1.58v.05a4.18,4.18,0,0,1,3.27,4.19A4.51,4.51,0,0,1,10.1,38a6.15,6.15,0,0,1-4.2,1.32H0V21.61H5.5A6.57,6.57,0,0,1,9.79,22.82ZM1.62,29.58H5.28a5,5,0,0,0,3.28-.87,3,3,0,0,0,1-2.39Q9.59,23,5.36,23H1.62Zm0,8.35H5.7A4.79,4.79,0,0,0,8.85,37a3.18,3.18,0,0,0,1.06-2.6A3.07,3.07,0,0,0,8.79,31.9,5.57,5.57,0,0,0,5.28,31H1.62Z"/>
                        <path d="M22.16,39.35H20.52V31.78L14,21.61h1.92l2.44,3.84,3,4.76h.05c1.33-2.13,2.34-3.71,3-4.76l2.41-3.84h1.92L22.16,31.78Z"/>
                      </g>
                    </g>
                  </svg>
            .element.text
              h2 Ponte en contactocon nosotros.
              span
                a(href="contacto.html").cta Contacto
            .element.form
              form
                .inputs
                  input(type="text" placeholder="Nombre")
                  input(type="text" placeholder="Apellido")
                  input(type="mail" placeholder="Correo")
                  textarea(name="message" placeholder="Mensaje")
                span
                  input(type="submit", value="Enviar").cta
        include _partials/footer