doctype html
html
    head
        title Astra | Nosotros
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
        meta(name="description" content="")
        link(rel="stylesheet" href="/css/style.css")
        link(rel="shortcut icon", href="/img/favicon.png", type="image/png")
    body
      .container#nosotros.animsition
        include _partials/menu
        .description-h
            .contenedor.half
                .element.text
                    h2 Somos una empresa inmobiliaria con una visión integral,enfocada en desarrollos sustentables de alto valor social y económico. 
                .element.bg(style="background-image: url(/img/i-01.jpg)")
            .contenedor.half
                .element.lead
                    h1 ¿Qué buscamos crear en cada proyecto?
                .element
                    .par.list
                        p Crear desarrollos innovadores con el menor impacto ambiental.
                        br
                        br
                        p Promover la convivencia, la calidad de vida, y la armonía ambiental.
                        br
                        br
                        p Crear espacios innovadores con calidad de talla internacional.
                        br
                        br
                        p Ofrecer una solución integral e innovadora a nuestros clientes incorporando los servicios de agua, energía, manejo de residuos, telecomunicaciones, y calidad de aire a sus proyectos.
        .equipo
            .contenedor.team
                .element.text
                    h2 Conoce a nuestro equipo
                .element#1
                    .uno.arrow
                        .name
                            h3 Eugenio Fernández
                        .puesto
                            p Director General
                        .arrow
                            img(src="/img/arrow.svg", alt="")
                    .dos.hei
                        .img
                            img(src="/img/eugenio.png", alt="")
                        .de
                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.  
                .element#2
                    .uno
                        .name
                            h3 Iliana García
                        .puesto
                            p Directora de Desarrollo
                        .arrow
                            img(src="/img/arrow.svg", alt="")
                    .dos
                        .img
                            img(src="/img/eugenio.png", alt="")
                        .de
                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.  
                .element#3
                    .uno
                        .name
                            h3 Sara E. Mireles
                        .puesto
                            p Gerente de Arrendamientos
                        .arrow
                            img(src="/img/arrow.svg", alt="")
                    .dos
                        .img
                            img(src="/img/eugenio.png", alt="")
                        .de
                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.  

                .element#4
                    .uno
                        .name
                            h3 Jessica Woodford
                        .puesto
                            p Directora Comercial
                        .arrow
                            img(src="/img/arrow.svg", alt="")
                    .dos
                        .img
                            img(src="/img/eugenio.png", alt="")
                        .de
                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.  
                .element#5
                    .uno
                        .name
                            h3 Edmundo Nevárez
                        .puesto
                            p Director de Planeación Financiera
                        .arrow
                            img(src="/img/arrow.svg", alt="")
                    .dos
                        .img
                            img(src="/img/eugenio.png", alt="")
                        .de
                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.  

        include _partials/footer