#menu
  .left
    a(href="/").icon
      img(src="./img/icono.svg", alt="Astra")
    .description
      p Somos una empresa inmobiliaria con una visión integral, enfocada en desarrollos sustentables de alto valor social y económico. 
  .center
    a(href="/").logo
      img(src="./img/logo.svg", alt="Astra")
  .right
    ul.links
      li
        a(href="#") Nosotros
      li
        a(href="#") Proyectos
      li
        a(href="#") Contacto

